Source: checkbox
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.3
X-Python3-Version: >= 3.2
Build-Depends: debhelper (>= 9.2),
               dh-translations,
               libqt4-dev,
               po-debconf,
               python,
               python-distutils-extra,
               python-setuptools,
               python3-all,
               python3-distutils-extra,
               python3-gi,
               python3-lxml,
               python3-mock,
               python3-pkg-resources,
               python3-setuptools,
               qt4-qmake
Vcs-Bzr: https://code.launchpad.net/~checkbox-dev/checkbox/trunk

Package: checkbox
Section: python
Architecture: any
Depends: debconf,
         gir1.2-gudev-1.0,
         policykit-1,
         python3-lxml,
         udev,
         udisks2 | udisks,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Recommends: dpkg (>= 1.13),
            gir1.2-gst-plugins-base-1.0,
            gir1.2-gstreamer-1.0,
            gstreamer1.0-plugins-good,
            gstreamer1.0-pulseaudio,
            libgstreamer1.0-0,
            lsb-release,
            perl,
            pm-utils,
            python3-apt,
            python3-dbus,
            python3-gi
Suggests: bonnie++,
          bootchart,
          checkbox-cli
          curl,
          ethtool,
          fwts (>=13.09.00-0ubuntu1),
          git-core,
          glmark2,
          glmark2-es2,
          hdparm,
          lshw,
          mesa-utils,
          nmap,
          obexd-client,
          obexftp,
          render-bench,
          smartmontools,
          sox,
          stress,
          sysstat,
          wmctrl,
          wodim
Description: System testing application
 This project provides an extensible interface for system testing. The
 results can then be sent to Launchpad.

Package: checkbox-cli
Architecture: all
Depends: checkbox (>= ${source:Version}), ${misc:Depends}
Description: Command line interface for checkbox
 This project provides an extensible interface for system testing. The
 results can then be sent to Launchpad.
 .
 This package provides a command line interface for answering tests.

Package: checkbox-qt
Architecture: any
Depends: checkbox (>= ${source:Version}),
         libqt4-dbus,
         libqtgui4,
         python3-dbus,
         ${misc:Depends},
         ${shlibs:Depends}
Description: QT4 interface for checkbox
 This project provides an extensible interface for system testing. The
 results can then be sent to Launchpad.
 .
 This package provides a QT4 interface for answering tests.

Package: checkbox-hw-collection
Architecture: any
Depends: checkbox (>= ${source:Version}), ${misc:Depends}
Description: CLI tool for collecting HW information from a system
 .
 This package provides a tool for collecting hardware information from
 a system and sending it to the HEXR hardware database.
