#!/usr/bin/make -f

%:
	dh "$@" --with python2,python3,translations

override_dh_auto_build:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py build; \
	done;

override_dh_auto_install:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done;
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/checkbox
	mv  $(CURDIR)/debian/tmp/usr/share/checkbox/scripts  $(CURDIR)/debian/tmp/usr/lib/checkbox/bin

override_dh_auto_test:
ifeq (, $(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	# drop LD_PRELOAD to avoid running under fakeroot; drop TMPDIR to work
	# around LP#972324 (set by autopkgtest)
	env -u LD_PRELOAD -u TMPDIR CHECKBOX_PACKAGING=1 ./setup.py test
	rm -rf scripts/__pycache__
endif	

override_dh_installdeb:
	cp debian/checkbox.postrm debian/checkbox-cli.postrm
	cp debian/checkbox.postrm debian/checkbox-urwid.postrm
	cp debian/checkbox.postrm debian/checkbox-gtk.postrm
	cp debian/checkbox.postrm debian/checkbox-qt.postrm
	dh_installdeb

override_dh_installdocs:
	dh_installdocs -pcheckbox ./README 
	dh_installdocs -pcheckbox-cli ./README 
	dh_installdocs -pcheckbox-urwid ./README 
	dh_installdocs -pcheckbox-gtk ./README 
	dh_installdocs -pcheckbox-qt ./README 
	dh_installdocs

override_dh_clean:
	-find . -name \*.mo -exec rm {} \;
	-rm -f debian/checkbox-cli.postrm debian/checkbox-urwid.postrm debian/checkbox-gtk.postrm debian/checkbox-qt.postrm
	debconf-updatepo
	dh_clean
