# Ignore all python3 bytecode data
__pycache__/
# As well as all python2 bytecode data
*.pyc
# Ignore setuptools artifacts
build
dist
*.egg-info
# Ignore coverage artifacts
.coverage
htmlcov
# Ignore logs created by test-in-vagrant.sh
vagrant-logs
# Ignore vagrant state file
.vagrant
# The list below is riddled with junk created by running the test suite of checkbox
# It should be really cleaned up as tests should _not_ do that but right now it's more
# annoying than dangerous so I'll get rid of the noise first
*.o
# Attic where zygmunt puts random stuff
_attic
# Orig files from diffs and patches
*.orig
# Ignore stuff we get from somewhere else
support/external-tarballs
support/checkbox-packaging
# Ignore generated meta-object compiler files
moc_*.cpp
# Ignore particular generated makefiles
checkbox-gui/Makefile
checkbox-gui/checkbox-gui/Makefile
checkbox-gui/gui-engine/Makefile
checkbox-gui/po/Makefile
checkbox-gui/test-gui-engine/Makefile
# Ignore particular binaries
checkbox-gui/checkbox-gui/checkbox-gui
checkbox-gui/plugins/libgui-engine.so
checkbox-gui/test-gui-engine/test-gui-engine
# Ignore checkbox-gui share and lib directories
checkbox-gui/lib
checkbox-gui/share
# Ignore any patches that may lay around
*.patch
