[Desktop Entry]
Name=Driver Testing
Type=Application
Comment=Driver compatibility testing for Ubuntu
Exec=driver-testing
Icon=driver-testing
Categories=System;
Keywords=testing;drivers;hardware;ihv
X-GNOME-Gettext-Domain=driver-testing
X-Ayatana-Appmenu-Show-Stubs=False
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
