[Desktop Entry]
Name=Checkbox Touch
Exec=qmlscene $@ main.qml --testplan=2013.com.canonical.plainbox::stub
Icon=checkbox-touch.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true

