[Desktop Entry]
Name=Checkbox
Comment=System testing utility for Ubuntu
Exec=qmlscene $@ checkbox-touch.qml
Icon=checkbox-touch.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
