[Desktop Entry]
Encoding=UTF-8
Name=Hardware Testing
Comment=Tool to perform hardware test
Exec=/usr/bin/hwtest-gtk
Terminal=false
Type=Application
Icon=hwtest-gtk.png
StartupNotify=true
Categories=GNOME;Application;System;
