[Desktop Entry]
Encoding=UTF-8
Name=Self Certification
Comment=Tool to perform hardware certification
Exec=hwtest-gtk
Terminal=false
Type=Application
Icon=hwtest-gtk.png
StartupNotify=true
Categories=GNOME;Application;System;
