#!/bin/sh -e

. /usr/share/debconf/confmodule

case "$1" in
    configure|reconfigure)
        db_input medium checkbox/plugins/jobs_info/blacklist || true
        db_input medium checkbox/plugins/jobs_info/whitelist || true
        db_input medium checkbox/plugins/launchpad_exchange/transport_url || true
        db_input medium checkbox/plugins/launchpad_prompt/email || true
        db_input medium checkbox/plugins/proxy_info/http_proxy || true
        db_input medium checkbox/plugins/proxy_info/https_proxy || true
        db_go
        ;;
    *)
        ;;
esac
