#!/bin/sh -e

. /usr/share/debconf/confmodule

case "$1" in
    configure)
        db_input medium checkbox/plugins/category_prompt/category || true
        db_input medium checkbox/plugins/exchange_prompt/email || true
        db_input medium checkbox/plugins/launchpad_exchange/transport_url || true
        db_input medium checkbox/plugins/proxy_info/http_proxy || true
        db_input medium checkbox/plugins/proxy_info/https_proxy || true
        db_go
        ;;
    *)
        ;;
esac
