#!/bin/sh -e

. /usr/share/debconf/confmodule

case "$1" in
    configure|reconfigure)
        db_input medium checkbox/plugins/jobs_info/blacklist || true
        db_input medium checkbox/plugins/jobs_info/whitelist || true
        db_input medium checkbox/plugins/launchpad_exchange/transport_url || true
        db_input medium checkbox/plugins/launchpad_prompt/email || true
        db_input medium checkbox/plugins/proxy_info/http_proxy || true
        db_input medium checkbox/plugins/proxy_info/https_proxy || true
        db_input medium checkbox/plugins/environment_info/routers || true
        db_input medium checkbox/plugins/environment_info/router_ssid || true
        db_input medium checkbox/plugins/environment_info/router_psk || true
        db_input medium checkbox/plugins/environment_info/wpa_bg_ssid || true
        db_input medium checkbox/plugins/environment_info/wpa_bg_psk || true
        db_input medium checkbox/plugins/environment_info/wpa_n_ssid || true
        db_input medium checkbox/plugins/environment_info/wpa_n_psk || true
        db_input medium checkbox/plugins/environment_info/open_bg_ssid || true
        db_input medium checkbox/plugins/environment_info/open_n_ssid || true
        db_input medium checkbox/plugins/environment_info/btdevaddr || true
        db_go
        ;;
    *)
        ;;
esac
