Source: hwtest
Section: base
Priority: optional
XSBC-Original-Maintainer: Marc Tardif <marc.tardif@canonical.com>
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Standards-Version: 3.7.3
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.37.2), python-support (>= 0.3), python-dev (>= 2.4), po-debconf, python-distutils-extra

Package: hwtest
Section: python
Architecture: all
Depends: ${misc:Depends}, python-apt | python2.4-apt
Recommends: hal
Description: Hardware test
 This project provides an interface for gathering hardware details and
 prompting the user for questions. This information can then be sent
 to Launchpad.

Package: hwtest-cli
Architecture: all
Depends: hwtest
Description: CLI interface for the hwtest program
 This project provides an interface for gathering hardware details and
 prompting the user for questions. This information can then be sent
 to Launchpad.
 .
 This package provides a command-line interface for answering questions.

Package: hwtest-gtk
Section: gnome
Architecture: all
Depends: python-gtk2, python-glade2, gksu, hwtest
Description: GTK interface for the hwtest program
 This project provides an interface for gathering hardware details and
 prompting the user for questions. This information can then be sent
 to Launchpad.
 .
 This package provides a GTK interface for answering questions.
