#!/bin/sh

/usr/share/hwtest/install/config \
  -v hwtest/registries/directory \
  -v hwtest/plugins/directory \
  -v hwtest/plugins/question_prompt/questions_path \
  -v hwtest/plugins/manual_question/scripts_path \
  -v hwtest/plugins/manual_question/data_path \
  -v hwtest/plugins/launchpad_exchange/transport_url \
  -v hwtest/plugins/launchpad_exchange/cache_file \
  hwtest $@
