#!/usr/bin/perl
# Debconf configuration script for this package

$package = "hwtest";
$conffile = "/etc/default/$package.conf";
$action = shift;
$from_version = shift;

use Debconf::Client::ConfModule ':all';
version('2.0');

my @ret;
my @current_config;

if (-e $conffile) {
    open CONFIG, "<$conffile";
    if (<CONFIG> =~ /^###DEBCONF###$/) {
        set("$package/override", "true");
    } else {
        my $oldval = get("$package/override");
        set("$package/override", "false");
        if ($oldval eq "true") {
            fset("$package/override", "seen", "false")
        }

        input($action =~ /reconfigure/ ? "critical" : "high",
            "$package/override");
        $ret = go();
    };
    @current_config = <CONFIG>;
    close CONFIG;
} else {
    set("$package/override", "true");
}

if (get("$package/override") eq "true") {
    foreach my $config ("transport_url") {
        read_and_input("$package/$config", $config, "medium");
    }
    $ret = go();
}

sub read_and_input {
    my ($debconf_name, $conffile_name, $priority) = @_;
    $priority = "medium" unless $priority;

    my @valuelist = grep(/^$conffile_name=/, @current_config);
    if (@valuelist) {
        my $value = pop(@valuelist);
        chomp($value);
        $value =~ s/^$conffile_name=//;
        set($debconf_name, $value);
    }
    input($priority, $debconf_name);
}
