#!/usr/bin/python

import sys

from hwtest.install import Install


def main(args):
    if len(args) < 1:
        return 1

    install = Install("hwtest",
        variables=[
            "hwtest/registries/directory",
            "hwtest/plugins/directory",
            "hwtest/plugins/question_prompt/questions_path",
            "hwtest/plugins/manual_question/scripts_path",
            "hwtest/plugins/manual_question/data_path",
            "hwtest/plugins/launchpad_exchange/transport_url",
            "hwtest/plugins/launchpad_exchange/cache_file"])

    if args[0] == "write":
        install.write(args[1])

    elif args[0] == "configure":
        install.configure()

    return 0


if __name__ == "__main__":
    sys.exit(main(sys.argv[1:]))
