#!/usr/bin/python

import sys

from hwtest.install import Install


def main(args):
    if len(args) < 1:
        return 1

    install = Install("hwtest-gtk",
        variables=[
            "DEFAULT/include",
            "hwtest-gtk/plugins/directory",
            "hwtest-gtk/plugins/gtk_interface/gtk_path"])

    if args[0] == "write":
        install.write(args[1])

    elif args[0] == "configure":
        install.configure()

    return 0


if __name__ == "__main__":
    sys.exit(main(sys.argv[1:]))
