#!/usr/bin/make -f

DEB_PYTHON_SYSTEM := pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_DH_INSTALL_SOURCEDIR := debian/tmp
DEB_PYTHON_INSTALL_ARGS_ALL := --no-compile

binary-install/hwtest::
	dh_link /etc/hwtest.d usr/share/hwtest/configs

clean::
	-find . -name \*.mo -exec rm {} \;
	debconf-updatepo
