#!/usr/bin/make -f

DEB_VERSION=$(shell dpkg-parsechangelog | grep ^Version | cut -f2 -d\ |cut -f1 -d-)

DEB_PYTHON_INSTALL_ARGS_ALL := --no-compile --install-layout=deb

%:
	dh "$@" --with translations,python2

build/checkbox-cli::
	cp debian/checkbox.postrm debian/checkbox-cli.postrm

build/checkbox-urwid::
	cp debian/checkbox.postrm debian/checkbox-urwid.postrm

build/checkbox-gtk::
	cp debian/checkbox.postrm debian/checkbox-gtk.postrm

build/hwtest-cli::
	cp debian/hwtest.postrm debian/hwtest-cli.postrm

build/hwtest-gtk::
	cp debian/hwtest.postrm debian/hwtest-gtk.postrm

binary-install/checkbox-gtk::
	dh_icons -pcheckbox-gtk

clean::
	-rm -f debian/checkbox-cli.postrm debian/checkbox-urwid.postrm debian/checkbox-gtk.postrm
	-rm -f debian/hwtest-cli.postrm debian/hwtest-gtk.postrm
