Package: checkbox-urwid
Source: checkbox
Version: 0.10.1
Architecture: all
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 124
Depends: checkbox (= 0.10.1), python-urwid
Section: utils
Priority: optional
Description: Checkbox Urwid CLI
 This project provides an extensible interface for system testing. The
 results can then be sent to Launchpad.
 .
 This package provides a command line interface (urwid version) for answering tests.
Original-Maintainer: Marc Tardif <marc@ubuntu.com>
Python-Version: current
