[Desktop Entry]
Name=Canonical Driver Test Suite
Type=Application
Comment=Canonical's driver compatability test suite for Ubuntu
Exec=canonical-driver-test-suite
Icon=canonical-driver-test-suite
Categories=System;
Keywords=testing;drivers;hardware;ihv
X-GNOME-Gettext-Domain=canonical-driver-test-suite
X-Ayatana-Appmenu-Show-Stubs=False
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
